/target
**/target
/.data
/.nitrum
**/*.rs.bk
.DS_Store
.env
config/*/local.override.yaml
/node_modules

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
